@CHARSET "UTF-8";


html {
	overflow-y: scroll;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}


.bold {
	font-weight: bold !important;
}


* {
	font-family: tahoma;
	font-size: 11px;
}


a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



div.container {
	position: relative;
/*
	width: 100%;
	height: 100%;

	overflow-y: scroll;
*/
}



/* header */

div.header {
	position: relative;
	width: 900px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	z-index: 9;
}


div.header img.logo {
	position: absolute;
	/* z-index: 99; */
	left: 10px;
	top: 10px;
}


div.header ul.register {
	list-style: none;
	padding:0;
	margin: 0 0 0 10px;;
	float: right;
	top: 0;
	right: 0;
}

div.header ul.register li {
	float: left;
	padding: 20px 3px 5px 3px;
	background: #231f20;
	color: white;
}

div.header ul li a {
	display: block;
	color: #f8a038;
	text-decoration: none;
}


div.header ul li a:hover {
	text-decoration: underline;
}


div.header ul.lang {
	list-style: none;
	padding:0;
	margin: 0;
	float: right;
	top: 0;
	right: 200px;
}


div.header ul.lang li {
	float: left;
	padding: 20px 2px;
	color: gray;
}

div.header ul.lang li a {
	font-weight: bold;
}


div.header .kalendars {
	position: absolute;
	z-index: 9;
	right: 0;
	top: 50px;
	width: 310px;
	height: 119px;
}


div.header .kalendars .kalendara_bilde {
	position: absolute;
	width: 145px;
	height: 100px;
	left: 7px;
	top: 9px;
	z-index: 1;
}


div.header .kalendars #datepicker {
	position: absolute;
	top: 1px;
	right: 1px;
}

div.header .kalendars .loading {
	position: absolute;
	top: 40px;
	right: 50px;
	z-index: 1;
}


.ui-datepicker-prev {
	float: left;
	display: block;
	width: 20px;
	height: 20px;
}

.ui-datepicker-next {
	float: right;
	display: block;
	width: 20px;
	height: 20px;
}


div.header .ui-datepicker {
	border: 0;
	font-size: 9px;
	margin-right: 3px;
}



div.header .ui-datepicker-header {
	background: none;
	padding: 0;
	margin: 0;
	border: 0;
	height: 18px !important;
}

div.header .ui-datepicker-calendar {
	padding-right: 0px;
}

div.header .ui-datepicker-calendar td {
	/*
border: 1px solid blue;
*/
	}


div.header .ui-datepicker-calendar thead *,
div.header .ui-datepicker-calendar tbody * {
	padding: 0;
	margin: 0;
}


div.header .ui-datepicker-calendar thead * {
	/* display: none; */
	padding: 3px 0 3px 0;
	font-size: 10px;
	text-align: right;
	font-weight: normal;
}


div.header .ui-datepicker-calendar td {
	margin: 0;
	padding: 0;
}

div.header .ui-datepicker-calendar td a,
div.header .ui-datepicker-calendar td span {
	font-size: 9px;
	font-family: verdana;
	background: none;
	border: 0;
	margin: 0 !important;
	padding: 0 !important;
}


.ui-datepicker-unselectable {
	padding: 0;
	margin: 0;
}


div.header .ui-datepicker-calendar td a.ui-state-active {
	/*
font-weight: bold;
*/
	margin: 0 !important;
}


div.header .ui-datepicker-calendar td.ui-datapicker-eriks {
	width: 20px;
}

div.header .ui-datepicker-calendar td.ui-datapicker-eriks a {
	margin: 0 !important;
	padding: 0 !important;
	font-weight: bold;
}


div.header .ui-datepicker-calendar td.ui-datepicker-week-end a,
div.header .ui-datepicker-calendar td.ui-datepicker-week-end span,
div.header .ui-datepicker-calendar td.ui-datepicker-week-end .ui-state-hover {
	color: #ff8d04 !important;
	padding: 0;
	margin: 0;
}


td.ui-datepicker-current-day * {
	border: 1px solid red !important;
}


div.header div#notikumi {
	position: absolute;
	width: 100%;
	top: 110px;
	left: 0;
	visibility: hidden;
}

div.header div#notikumi a {
	color: white;
}

div.header div#notikumi div#notikums {
	padding: 10px;
	background: url(../images/notikums_bg.jpg) repeat-y;
	color: white;
}


div.header div#notikumi div#notikums .bottom {
	position: absolute;
	border: 1px solid red;
	bottom: 0;
	left: 0;
}

/* */



div.frames {
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	
	/*background: url(../images/karte_repeat-y-middle.jpg) 155px 70px repeat-y;*/
	background: url(../images/karte_repeat-y-middle.jpg) 155px 0 repeat-y;
	
	min-height:500px;
 	height:auto !important;
	height:500px;
}


div.frames div.left {
	float: left;
	width: 195px;
	display: block;
	position: relative;
	height: 100%;
	
	margin-top: 40px;
}


div.frames div.right {
	float: right;
	width: 700px;
	display: block;
	position: relative;
	height: 100%;

	min-height:500px;
 	height:auto !important;
	height:500px;
}


div.footer {
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	padding-top: 20px;
	line-height: 20px;
	height: 50px;
	text-align: center;
	color: gray;
}



div.right div#inner {
	/* margin-top: 100px; */
	position: relative;
}



/* search */


div.left form.search {
	padding: 0;
	margin: 0;
	width: 140px;
	height: 20px;
	position: relative;
	margin-bottom: 10px;
}

div.left form.search input.inp {
	position: absolute;
	top: 3px;
	left: 5px;
	padding: 0;
	margin: 0;
	width: 140px;
	font-size: 11px;
	height: 13px;
	border: 0;
}

div.search.result {
	margin-bottom: 10px;
}


/* side */

ul.side {
	list-style: none;
	padding: 0;
	margin: 0;
	margin: 5px 0 5px 10px;
	width: 160px;
}

ul.side.level0 {
	margin: 0;
}

ul.side li a {
	display: inline-block;
	padding: 5px;
	width: 100%;
	font-family: Tahoma;
	font-size: 11px;
	text-decoration: none;
	color: black;
}

ul.side li a:hover {
	text-decoration: underline;
}


ul.side.level0 li a {
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid gray;
	background: url(../images/arrow.jpg) no-repeat right center;
}


ul.side.level1 * {
	padding: 0;
}


ul.side.level1 li a {
	border: 0;
	font-weight: normal;
	text-transform: none;
	background: none;
}



/* locator */


div.locator a {
	color: gray;
}

div.locator a.last {
	color: black;
}




/* docs / posts */

div.docs div.doc {
	margin-bottom: 2em;
	display: block;
}


div.docs div.title a {
	font-size: 14px;
	font-weight: bold;
}

div.docs div.datums {
	font-size: 10px;
}

div.docs div.short {
	margin-top: 10px;
}



#inner table {
	border: 1px solid gray;
	border-collapse: collapse;
}

#inner table td {
	padding: 2px;
}



h3.sponsors {
	border: none;
	text-transform: none;
}



